@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 1rem;
  background-color: white;
  color: black;
  font-size: 18px;
  position: relative;
  z-index: 2;
}

header .logo {
  font-size: 1.875rem;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
}

header nav .menu {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 0;
  list-style: none;
}

header nav .menu li a {
  display: block;
  padding: 5px;
  transition: color 0.4s ease;
  color: rgb(48, 45, 45);
}

header nav .menu li a:hover {
  color: white;
  background-color: #800080;
  border-radius: 5px;
}

.section_top {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(transparent, rgba(30, 30, 30, 0.8)), url("img1/img.png") center/cover no-repeat;
  position: relative;
  animation: change 20s infinite ease-in-out;
}

#toggle {
  display: none;
  font-size: 1rem;
  cursor: pointer;
  position: absolute;
  top: 40%;
  right: 15px;
  z-index: 5;
}

.content h1 {
  font-size: 12vw;
  letter-spacing: 10px;
  color: white;
}

@keyframes change {
  0% {
    background-image: url("img/img1.png");
  }
  20% {
    background-image: url("img/img2.png");
  }
  40% {
    background-image: url("img/img3.png");
  }
  60% {
    background-image: url("img/img4.png");
  }
  80% {
    background-image: url("img/img5.png");
  }
  100% {
    background-image: url("img/img6.png");
  }
}
.section_about_thailand {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 40px;
  align-items: center;
  margin: 40px;
  background: #fff;
  overflow: hidden;
}

.section_about_thailand .image_container {
  transition: transform 0.5s ease-in-out;
  margin-left: 10px;
}

.section_about_thailand .image_container img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  transition: transform 0.5s ease-in-out;
}

.section_about_thailand:hover .image_container img {
  transform: scale(1.05);
}

.text_container {
  padding: 1rem;
  font-size: 1rem;
  background: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.text_container h1 {
  font-size: 1.5rem;
  color: black;
  margin-bottom: 1rem;
}

.text_container p {
  text-align: justify;
  line-height: 1.6;
  text-align: left;
}

.learn-more {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

.learn-more-button {
  background-color: transparent;
  color: #000;
  border: 2px solid #000;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 16px;
  transition: background-color 0.3s, color 0.3s; /* Smooth transition for background and text color */
}

.learn-more-button:hover {
  background-color: #800080; /* Purple background on hover */
  color: #fff; /* White text on hover */
  border-color: #800080;
}

.places, .places2 {
  padding: 20px;
  font-size: 3vw;
  margin-top: 50px;
  margin-bottom: 20px;
  font-weight: bold;
  text-align: center;
  color: #333;
  text-transform: uppercase;
  letter-spacing: 1px;
}

/*Slider*/
.slider {
  height: 90vh;
  position: relative;
}

.slider .list .item {
  position: absolute;
  inset: 0 0 0 0;
  overflow: hidden;
  opacity: 0;
  transition: 0.5s;
}

.slider .list .item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.slider .list .item img::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
}

.slider .list .item .content2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 800;
  color: #fff;
  text-align: center;
  z-index: 1;
}

.slider .list .item .content2 h2 {
  font-size: 6vw;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  width: 80vh;
}

.slider .list .item .content p:nth-child(1) {
  text-transform: uppercase;
  letter-spacing: 10px;
}

.slider .list .item.active {
  opacity: 1;
  z-index: 10;
}

@keyframes showContent {
  to {
    transform: translateY(0);
    filter: blur(0);
    opacity: 1;
  }
}
.slider .list .item .content p:nth-child(1),
.slider .list .item .content p:nth-child(3) {
  transform: translateY(30px);
  filter: blur(20px);
  opacity: 0;
  animation: showContent 0.5s 0.7s ease-in-out 1 forwards;
}

.arrows {
  position: absolute;
  top: 20%;
  right: 10%;
  z-index: 100;
}

.arrows button {
  background-color: white;
  border: none;
  font-family: monospace;
  width: 3rem;
  height: 3rem;
  border-radius: 5px;
  font-size: x-large;
  color: black;
  transition: 0.5s;
}

.arrows button:hover {
  background-color: #800080;
  color: white;
}

.thumbnail {
  position: absolute;
  bottom: 0px;
  z-index: 11;
  display: flex;
  gap: 10px;
  width: 100%;
  padding: 0 50px;
  box-sizing: border-box;
  overflow: auto;
  justify-content: center;
}

.thumbnail::-webkit-scrollbar {
  width: 0;
}

.thumbnail .item {
  width: 135px;
  height: 170px;
  filter: brightness(0.5);
  transition: 0.5s;
  flex-shrink: 0;
  margin-bottom: 10px;
}

.thumbnail .item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}

.thumbnail .item.active {
  filter: brightness(1);
}

.thumbnail .item .content {
  position: absolute;
  inset: auto 10px 10px 10px;
}

/*Image Gallery*/
.image-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 columns distributed equally */
  grid-template-rows: repeat(2, 50vh);
  gap: 0;
  overflow: hidden;
}

.image {
  position: relative;
  width: 100%; /* Fully occupy grid column width */
  height: 100%; /* Fully occupy grid row height */
  overflow: hidden;
}

.image:hover img {
  transform: scale(1.05);
  transition: transform 0.5s; /* Animation duration and effect */
}

.image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: transform 0.5s;
  display: block;
}

.tall-image1 {
  grid-row: 1/span 2;
}

.tall-image2 {
  grid-row: 1/span 2;
  grid-column: 4;
}

.small-image {
  grid-row: span 1;
}

.image p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0.656);
  color: #333; /* text color */
  padding: 1em;
  text-align: center;
  margin: 0;
  z-index: 1;
}

.image:hover p {
  background-color: #800080;
  color: white;
  transition: background-color 0.5s ease;
}

.container2 {
  width: 100%;
  padding: 0px 10%;
  box-sizing: border-box; /* To prevent padding from increasing total width */
}

.places2 {
  position: relative;
  margin-bottom: 30px;
}

.places2::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -5px;
  transform: translate(-50%);
  width: 100px;
  height: 5px;
  background-color: #800080;
}

.row2 {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr)); /* 2 columns layout */
  grid-row-gap: 40px;
  grid-column-gap: 40px;
  width: 100%;
  box-sizing: border-box;
  padding-bottom: 20px;
}

.service {
  max-width: 100%;
  background: #fff;
  padding: 25px;
  text-align: center;
  border-radius: 5px;
  transition: transform 0.5s;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.service:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.2);
}

.service i {
  font-size: 2rem;
  color: #800080;
  margin-bottom: 10px;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

.article_container {
  max-width: 80%;
  padding: 2.5rem 1.5rem;
  display: flex;
  flex-wrap: wrap;
  line-height: 1.5;
  justify-content: center;
  align-items: flex-start;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

.article_card {
  max-width: 15.5rem;
  height: 100%;
  border-radius: 1.25rem;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.164);
  margin-bottom: 25px;
  flex: 0 0 auto;
  margin-right: 25px;
}

.card_wrapper {
  display: flex;
  overflow-x: scroll;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  scrollbar-width: none;
  padding-left: 5px;
}
.card_wrapper::-webkit-scrollbar {
  display: none;
}

.article_image img {
  width: 100%;
  height: auto;
  border-radius: 1.25rem 1.25rem 0 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.article_content {
  padding: 0.5rem;
}

.card_category {
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-weight: 600;
  color: #c661d6;
}

.card-title {
  margin: 0.8rem 0;
  height: 3rem;
}

.card {
  margin: 0;
  padding-top: 10px;
  font-size: 0.7rem;
}

.price {
  text-align: center;
  padding: 8px;
  background-color: #800080;
  color: white;
  margin-top: 10px;
  border-radius: 5px;
}

.slider-nav-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 999; /* High z-index so it's above most other content */
  background-color: #800080; /* The supplied hover color set correctly as a value*/
  color: #FFFFFF; /* For white color text */
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-size: x-large;
}

.slider-nav-btn-prev {
  left: 0;
}

.slider-nav-btn-next {
  right: 0;
}

footer {
  position: relative;
  width: 100%;
  padding: 50px 100px;
  background: white;
  box-sizing: border-box;
  border-top: 1px solid #eaeaea;
}

footer .footer_container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  --auto-grid-min-size: 16rem; /* 256px */
  grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size), 1fr));
}

footer .footer_container .sec h2 {
  position: relative;
  color: black;
  font-weight: 600;
  margin-bottom: 15px;
}

footer .footer_container .sec p {
  color: black;
}

footer .footer_container .sci {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(4, 50px);
}

footer .footer_container .sci li {
  list-style-type: none;
}

footer .footer_container .sci li a {
  display: inline-block;
  width: 36px;
  height: 36px;
  background: white;
  display: grid;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

footer .footer_container .sci li a i {
  color: black;
  font-size: 20px;
}

footer .footer_container .quicklinks {
  position: relative;
}

footer .footer_container .quicklinks ul li {
  list-style-type: none;
}

footer .footer_container .quicklinks ul li a {
  color: black;
  text-decoration: none;
  margin-bottom: 10px;
  display: inline-block;
}

footer .footer_container .contact .info {
  position: relative;
}

footer .footer_container .contact .info li {
  display: grid;
  grid-template-columns: 30px 1fr;
  margin-bottom: 16px;
}

footer .footer_container .contact.info li span {
  color: white;
  font-size: 20px;
}

footer .footer_container .contact.info li a {
  color: white;
  text-decoration: none;
}

.copyrightText {
  width: 100%;
  background: white;
  padding: 20px 100px 30px;
  text-align: center;
  color: black;
  border: 1px solid rgba(0, 0, 0, 0.15);
}

/*Responsive code*/
@media (max-width: 321px) {
  .article_card {
    max-width: 12.5rem;
  }
  .card-title {
    font-size: 1rem;
  }
  .card_wrapper {
    padding-left: 5px;
  }
  .slider-nav-btn-next .slider-nav-btn-prev {
    width: 1rem;
    height: 1rem;
  }
  .article_container {
    margin-top: 0;
  }
}
@media (max-width: 480px) {
  header .logo {
    font-size: 1.5rem;
  }
  header nav .menu li a {
    padding: 15px;
  }
}
@media (max-width: 412px) {
  header nav .menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100vh;
    padding-top: 80px;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
    transition: left 0.3s;
  }
  header nav .menu.active {
    left: 0;
    z-index: 4;
  }
  header nav .menu header nav .menu li {
    padding-top: 20px;
  }
  header nav .menu.active {
    display: flex;
  }
  #toggle {
    display: block;
  }
  .section_top {
    height: 100vh;
    background-size: cover;
    background-attachment: scroll;
  }
  .section_top {
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    animation: very-small-screen-animation 30s infinite;
  }
  @keyframes very-small-screen-animation {
    0% {
      background-image: url("img/img1-mobile.png");
    }
    20% {
      background-image: url("img/img2-mobile.png");
    }
    40% {
      background-image: url("img/img3-mobile.png");
    }
    60% {
      background-image: url("img/img4-mobile.png");
    }
    80% {
      background-image: url("img/img5-mobile.png");
    }
    100% {
      background-image: url("img/img6-mobile.png");
    }
  }
  .section_about_thailand {
    grid-template-columns: 1fr; /* Stack the items */
  }
  .section_about_thailand .image_container,
  .section_about_thailand .text_container {
    order: unset; /* Remove any specific ordering */
    margin: 0;
    height: auto;
  }
  body.no-scroll {
    overflow: hidden;
  }
  .thumbnail {
    width: 100%;
    height: auto;
  }
  .thumbnail .item img {
    max-height: 80%;
  }
  .content2 {
    top: 25%;
  }
  .places, .places2 {
    font-size: 8vw;
  }
  .slider .list .item .content2 h2 {
    font-size: 10vw;
  }
  .thumbnail .item {
    width: 52px;
    height: 115px;
  }
  .image-grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  .image p {
    font-size: 3vw;
  }
  .tall-image1 {
    grid-row: auto; /* Reset to default grid placement */
  }
  .tall-image2 {
    grid-row: auto; /* Reset to default grid placement */
    grid-column: auto; /* Reset to default grid placement */
  }
  .small-image {
    grid-row: auto; /* Reset to default grid placement */
  }
  .container2 {
    padding: 2% 5%;
  }
  .row2 {
    grid-template-columns: 1fr;
    grid-gap: 25px;
  }
  .service {
    padding: 15px;
  }
  .service h2 {
    font-size: 18px;
  }
  .service p {
    font-size: 14px;
  }
  .article_container {
    width: 80%;
  }
  .card-title {
    font-size: 1rem;
  }
  footer {
    padding: 10px 10px;
  }
  .footer_container {
    grid-template-columns: 1fr;
    grid-gap: 5px;
  }
}
@media (max-width: 768px) and (min-width: 413px) {
  header nav .menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100vh;
    padding-top: 80px;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
    transition: left 0.3s;
  }
  header nav .menu.active {
    left: 0;
    z-index: 4;
  }
  header nav .menu header nav .menu li {
    padding-top: 20px;
  }
  header nav .menu.active {
    display: flex;
  }
  #toggle {
    display: block;
  }
  .section_top {
    height: 100vh;
    background-size: cover;
    background-attachment: scroll;
  }
  .section_about_thailand {
    grid-template-columns: 1fr; /* Stack the items */
  }
  .section_about_thailand .image_container,
  .section_about_thailand .text_container {
    order: unset; /* Remove any specific ordering */
    margin: 0;
    height: auto;
  }
  body.no-scroll {
    overflow: hidden;
  }
  .thumbnail {
    width: 100%;
    height: auto;
  }
  .thumbnail .item img {
    max-height: 80%;
  }
  .content {
    top: 25%;
  }
  .content2 h2 {
    font-size: 20px;
  }
  .thumbnail {
    width: 100%;
    height: auto;
  }
  .thumbnail .item img {
    max-height: 80%;
  }
  .content {
    top: 25%;
  }
  .content2 h2 {
    font-size: 20px;
  }
  .thumbnail .item {
    width: 114px;
    height: 222px;
  }
  .image-grid {
    grid-template-columns: repeat(3, 1fr);
  }
  .image.tall-image1,
  .image.tall-image2 {
    grid-column: auto;
    grid-row: auto;
  }
  .service p {
    font-size: 1rem;
  }
  footer {
    padding: 50px 50px;
  }
  .footer_container {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
  }
  footer .footer_container .sec h2, footer .footer_container .sec p, footer .footer_container .quicklinks ul li a, footer .footer_container .contact .info li span {
    font-size: smaller; /* reduce font size */
  }
}
@media (max-width: 1140px) {
  header nav .menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100vh;
    padding-top: 80px;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
    transition: left 0.3s;
  }
  header nav .menu.active {
    left: 0;
    z-index: 4;
  }
  header nav .menu header nav .menu li {
    padding-top: 20px;
  }
  header nav .menu.active {
    display: flex;
  }
  #toggle {
    display: block;
  }
  .section_top img {
    -o-object-fit: cover;
       object-fit: cover;
  }
}/*# sourceMappingURL=style.css.map */